.container {
    background-color: lightskyblue;
    text-align: center;
    width:100%;
    
    
}
h1,h3 {
    padding-bottom: 45px;
}

.trigger {
    padding: 10px;
   

}

.twee {
    padding: 10px;

}
